<template>
  <div>
    <template>
      <v-card>
        <v-toolbar flat>
          <v-toolbar-title>{{title}}</v-toolbar-title>
          <v-divider
            class="mx-4"
            vertical
          ></v-divider>
          <span class="subheading">{{subtitle}}</span>

          <v-spacer></v-spacer>

          <v-btn icon>
            <v-icon>mdi-magnify</v-icon>
          </v-btn>

          <v-btn icon>
            <v-icon>mdi-help-circle</v-icon>
          </v-btn>

          <template v-slot:extension>
          </template>
        </v-toolbar>
      </v-card>
    </template>

    <template>
        <v-progress-linear
          indeterminate
          :active="loading"
          fixed
        ></v-progress-linear>

        <v-row
        :loading="loading"
        class="pa-3"
        >
          <v-col
            v-for="service in services"
            :key="service.id"
          >
            <v-card
              class="rounded-xl"
              max-width="650"
              max-height="300"
              tile
            >
            <!-- :color="service.color" -->
              <v-img
                height="100%"
                src=""
              >
                <v-row
                  align="end"
                  class="fill-height"
                >
                  <v-col
                    align-self="start"
                    class="pa-2"
                    cols="4"
                  >
                    <v-list-item>
                      <v-list-item-avatar size="150">
                        <v-img :src="service.img"></v-img>
                      </v-list-item-avatar>
                    </v-list-item>
                  </v-col>
                  <v-col
                    align-self="start"
                    class="pa-02"
                    cols="8"
                  >
                    <v-list-item-content class="grey--text">
                      <v-list-item-title class="grey--text text-h6">
                        {{service.title || "&nbsp;"}}
                      </v-list-item-title>
                      <v-list-item-subtitle class="grey--text">
                        {{service.subtitle || "&nbsp;"}}
                      </v-list-item-subtitle>
                      <p>target: {{service.target}}</p>
                      <p>severity: {{service.severity}}</p>
                      <p>pathway: {{service.pathway}}</p>
                      <p>timeframe: {{service.timeframe}}</p>
                      <p>accountable: {{service.accountable}}</p>
                      <p class="black--text">{{service.description}}</p>
                    </v-list-item-content>
                  </v-col>
                  <v-col class="py-0">
                    <v-list-item
                      color="rgba(0, 0, 0, .4)"
                      dark
                    >
                    <v-card-actions>
                      <v-btn
                        text
                        :color="service.color"
                        class="ma-2"
                      >
                        Take it
                        <v-icon right dark :color="service.color">mdi-{{service.icon}}</v-icon>
                      </v-btn>
                    </v-card-actions>

                    </v-list-item>
                  </v-col>
                </v-row>
              </v-img>
            </v-card>
          </v-col>
        </v-row>
    </template>

  </div>
</template>

<script>
  export default {
    name: 'Services',

    data: () => ({
      title: 'ICT Concierge',
      subtitle: 'Choose below your best service which we have to offer',
      text: 'Choose below your best service which we have to offer',
      tabs: null,
      loading: false,
      services: [
        {
          id: 1,
          title: "Welcome",
          subtitle: "Welcome Home",
          color: '#1F7087',
          icon: "account-reactivate",
          categories: ["Greetings"],
          description: "File an issue for ICT Department",
          target: "Our guests",
          severity: "medium",
          pathway: "Ticket systen",
          timeframe: "12h",
          accountable: "ICT Department",
          img: "https://cdn.vuetifyjs.com/images/cards/foster.jpg",
          src: "call-center-portal/register",
        },
        {
          id: 2,
          title: "Home",
          color: '#952175',
          icon: "face-woman",
          categories: ["Greetings", "Landing"],
          description: "File an issue for ICT Department to register a service you did not found",
          target: "Our guests",
          severity: "low",
          pathway: "Call center",
          timeframe: "12h",
          accountable: "ICT Department",
          img: `https://picsum.photos/10/3?image=${1 * Math.floor((Math.random() * 10) + 1) * 5 + 10}`,
          src: "call-center-portal/register",
       },
      ],

    }),
  }
</script>
