<template>
  <v-app>
    <v-main>
      <Services/>
    </v-main>
  </v-app>
</template>

<script>
import Services from './components/Services.vue';

export default {
  name: 'App',

  components: {
    Services,
  },

  data: () => ({
    //
  }),
};
</script>
